<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>DirectView</servlet-name>
        <servlet-class>com.arexis.mugen.webapp.action.directview.DirectView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRedirector</servlet-name>
        <servlet-class>org.apache.cactus.server.ServletTestRedirector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTestRunner</servlet-name>
        <servlet-class>org.apache.cactus.server.runner.ServletTestRunner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavMenu</servlet-name>
        <servlet-class>com.arexis.mugen.webapp.NavMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>com.arexis.mugen.webapp.FileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.arexis.arxframe.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestModel</servlet-name>
        <servlet-class>test.model.TestModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestSU</servlet-name>
        <servlet-class>test.samplingunit.TestSU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>com.arexis.arxframe.Menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logit</servlet-name>
        <servlet-class>com.arexis.arxframe.Logit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>com.arexis.arxframe.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>com.arexis.arxframe.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>com.arexis.arxframe.About</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFGenerator</servlet-name>
        <servlet-class>com.arexis.mugen.webapp.servlets.PDFGenerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WSServlet_mugenws</servlet-name>
        <servlet-class>org.mugen.ws.mugenwsImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRedirector</servlet-name>
        <url-pattern>/ServletRedirector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTestRunner</servlet-name>
        <url-pattern>/ServletTestRunner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavMenu</servlet-name>
        <url-pattern>/NavMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/FileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestModel</servlet-name>
        <url-pattern>/TestModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestSU</servlet-name>
        <url-pattern>/TestSU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectView</servlet-name>
        <url-pattern>/DirectView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logit</servlet-name>
        <url-pattern>/Logit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFGenerator</servlet-name>
        <url-pattern>/PDFGenerator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSServlet_mugenws</servlet-name>
        <url-pattern>/mugenws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Controller</welcome-file>
    </welcome-file-list>
    <ejb-ref>
        <ejb-ref-name>ejb/UserBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.project.user.UserRemoteHome</home>
        <remote>com.arexis.mugen.project.user.UserRemote</remote>
        <ejb-link>mugen-projectmodule.jar#UserBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ProjectBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.project.project.ProjectRemoteHome</home>
        <remote>com.arexis.mugen.project.project.ProjectRemote</remote>
        <ejb-link>mugen-projectmodule.jar#ProjectBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/RoleBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.project.role.RoleRemoteHome</home>
        <remote>com.arexis.mugen.project.role.RoleRemote</remote>
        <ejb-link>mugen-projectmodule.jar#RoleBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ProjectManagerBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>com.arexis.mugen.project.projectmanager.ProjectManagerRemoteHome</home>
        <remote>com.arexis.mugen.project.projectmanager.ProjectManagerRemote</remote>
        <ejb-link>mugen-projectmodule.jar#ProjectManagerBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/PrivilegeBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.project.privilege.PrivilegeRemoteHome</home>
        <remote>com.arexis.mugen.project.privilege.PrivilegeRemote</remote>
        <ejb-link>mugen-projectmodule.jar#PrivilegeBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/SecurityPrincipleBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.project.securityprinciple.SecurityPrincipleRemoteHome</home>
        <remote>com.arexis.mugen.project.securityprinciple.SecurityPrincipleRemote</remote>
        <ejb-link>mugen-projectmodule.jar#SecurityPrincipleBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/SamplingUnitBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.samplingunit.samplingunit.SamplingUnitRemoteHome</home>
        <remote>com.arexis.mugen.samplingunit.samplingunit.SamplingUnitRemote</remote>
        <ejb-link>SamplingUnitModule.jar#SamplingUnitBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/SpeciesBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.species.species.SpeciesRemoteHome</home>
        <remote>com.arexis.mugen.species.species.SpeciesRemote</remote>
        <ejb-link>SpeciesModule.jar#SpeciesBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/IndividualBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.samplingunit.individual.IndividualRemoteHome</home>
        <remote>com.arexis.mugen.samplingunit.individual.IndividualRemote</remote>
        <ejb-link>mugen-projectmodule.jar#IndividualBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/PhenotypeBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.phenotype.phenotype.PhenotypeRemoteHome</home>
        <remote>com.arexis.mugen.phenotype.phenotype.PhenotypeRemote</remote>
        <ejb-link>mugen-projectmodule.jar#PhenotypeBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/LMarkerBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.species.lmarker.LMarkerRemoteHome</home>
        <remote>com.arexis.mugen.species.lmarker.LMarkerRemote</remote>
        <ejb-link>mugen-projectmodule.jar#LMarkerBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/LAlleleBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.species.lallele.LAlleleRemoteHome</home>
        <remote>com.arexis.mugen.species.lallele.LAlleleRemote</remote>
        <ejb-link>mugen-projectmodule.jar#LAlleleBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/GroupingBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.samplingunit.grouping.GroupingRemoteHome</home>
        <remote>com.arexis.mugen.samplingunit.grouping.GroupingRemote</remote>
        <ejb-link>mugen-projectmodule.jar#GroupingBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/GroupBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.samplingunit.group.GroupRemoteHome</home>
        <remote>com.arexis.mugen.samplingunit.group.GroupRemote</remote>
        <ejb-link>mugen-projectmodule.jar#GroupBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/VariableSetBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.phenotype.variableset.VariableSetRemoteHome</home>
        <remote>com.arexis.mugen.phenotype.variableset.VariableSetRemote</remote>
        <ejb-link>mugen-projectmodule.jar#VariableSetBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/UMarkerSetBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.genotype.umarkerset.UMarkerSetRemoteHome</home>
        <remote>com.arexis.mugen.genotype.umarkerset.UMarkerSetRemote</remote>
        <ejb-link>mugen-projectmodule.jar#UMarkerSetBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/UPositionBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.genotype.uposition.UPositionRemoteHome</home>
        <remote>com.arexis.mugen.genotype.uposition.UPositionRemote</remote>
        <ejb-link>mugen-projectmodule.jar#UPositionBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/UMarkerBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.genotype.umarker.UMarkerRemoteHome</home>
        <remote>com.arexis.mugen.genotype.umarker.UMarkerRemote</remote>
        <ejb-link>mugen-projectmodule.jar#UMarkerBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/UAlleleBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.genotype.uallele.UAlleleRemoteHome</home>
        <remote>com.arexis.mugen.genotype.uallele.UAlleleRemote</remote>
        <ejb-link>mugen-projectmodule.jar#UAlleleBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/MarkerBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.genotype.marker.MarkerRemoteHome</home>
        <remote>com.arexis.mugen.genotype.marker.MarkerRemote</remote>
        <ejb-link>mugen-projectmodule.jar#MarkerBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/AlleleBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.genotype.allele.AlleleRemoteHome</home>
        <remote>com.arexis.mugen.genotype.allele.AlleleRemote</remote>
        <ejb-link>mugen-projectmodule.jar#AlleleBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/SamplingUnitManagerBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>com.arexis.mugen.samplingunit.samplingunitmanager.SamplingUnitManagerRemoteHome</home>
        <remote>com.arexis.mugen.samplingunit.samplingunitmanager.SamplingUnitManagerRemote</remote>
        <ejb-link>mugen-projectmodule.jar#SamplingUnitManagerBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/PhenotypeManagerBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>com.arexis.mugen.phenotype.phenotypemanager.PhenotypeManagerRemoteHome</home>
        <remote>com.arexis.mugen.phenotype.phenotypemanager.PhenotypeManagerRemote</remote>
        <ejb-link>mugen-projectmodule.jar#PhenotypeManagerBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/GenotypeManagerBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>com.arexis.mugen.genotype.genotypemanager.GenotypeManagerRemoteHome</home>
        <remote>com.arexis.mugen.genotype.genotypemanager.GenotypeManagerRemote</remote>
        <ejb-link>mugen-projectmodule.jar#GenotypeManagerBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/FileBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <home>com.arexis.mugen.file.FileRemoteHome</home>
        <remote>com.arexis.mugen.file.FileRemote</remote>
        <ejb-link>mugen-projectmodule.jar#FileBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/AdminManagerBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>com.arexis.mugen.adminmanager.AdminManagerRemoteHome</home>
        <remote>com.arexis.mugen.adminmanager.AdminManagerRemote</remote>
        <ejb-link>mugen-projectmodule.jar#AdminManagerBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ModelManagerBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>com.arexis.mugen.model.modelmanager.ModelManagerRemoteHome</home>
        <remote>com.arexis.mugen.model.modelmanager.ModelManagerRemote</remote>
        <ejb-link>mugen-projectmodule.jar#ModelManagerBean</ejb-link>
    </ejb-ref>
    <resource-ref>
        <res-ref-name>jms/IndividualImportDestinationFactory</res-ref-name>
        <res-type>javax.jms.ConnectionFactory</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jms/ImpDestinationFactory</res-ref-name>
        <res-type>javax.jms.ConnectionFactory</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
