<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <META HTTP-EQUIV="Window-target" CONTENT="_top">
        <title>MUGEN Mice In Other DBs</title>
        <link rel="stylesheet" type="text/css" href="test.css" />
    </head>
    
    <body>
        <form action="Controller">        
          <table>
              <tr>
                <td>view mutants with JAX ID <a href="Controller?workflow=ViewJAXModels"><b>[go]</b></a>
              </tr>
              <tr>
                <td>view mutants with EMMA ID <a href="Controller?workflow=ViewEMMAModels"><b>[go]</b></a>
              </tr>
              <tr>
                <td>view mutants with JAX+EMMA ID <a href="Controller?workflow=ViewJAXEMMAModels"><b>[go]</b></a>
              </tr>
          </table>
        </form>
    </body>
</html>
